<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tricolorflower.heartbeat">

    <!-- SD卡创建和删除文件 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- SD卡读写 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name="com.tricolorflower.heartbeat.DapporeApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.tricolorflower.heartbeat.home.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TypefaceTheme"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tricolorflower.heartbeat.account.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TypefaceTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name="com.tricolorflower.heartbeat.appdetail.AppDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TypefaceTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name="com.tricolorflower.heartbeat.setting.SettingAboutUsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TypefaceTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name="com.tricolorflower.heartbeat.search.SearcherActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TypefaceTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name="com.tricolorflower.heartbeat.web.WebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TypefaceTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name="com.tricolorflower.heartbeat.userinfo2.UserInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TypefaceTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name="com.tricolorflower.heartbeat.userinfo.UserInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TypefaceTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name="com.tricolorflower.heartbeat.recommendlist.RecommendListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TypefaceTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name="com.tricolorflower.heartbeat.comment.CommentListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TypefaceTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name="com.tricolorflower.heartbeat.photo.PhotoCutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TypefaceTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name="com.tricolorflower.heartbeat.photo.PhotoViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TypefaceTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name="com.tricolorflower.heartbeat.photo.PhotoViewLocalActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TypefaceTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name="com.tricolorflower.heartbeat.videodetail.VideoDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TypefaceTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name="com.tricolorflower.heartbeat.favorite.FavoriteListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TypefaceTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name="com.tricolorflower.heartbeat.voiceroom.VoiceRoomActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TypefaceTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name="com.tricolorflower.heartbeat.voiceroom.VoiceRoomSettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TypefaceTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name="com.tricolorflower.heartbeat.voiceroom.ProductCategoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TypefaceTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name="com.tricolorflower.heartbeat.voicerolelist.VoiceRoleListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TypefaceTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name="com.tricolorflower.heartbeat.invitelist.InviteListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TypefaceTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name="com.tricolorflower.heartbeat.onlinelist.OnlineListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TypefaceTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name="com.tricolorflower.heartbeat.adminlist.AdminListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TypefaceTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name="com.tricolorflower.heartbeat.blacklist.BlackListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TypefaceTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name="com.tricolorflower.heartbeat.addadminlist.AddAdminListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TypefaceTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name="com.tricolorflower.heartbeat.addblacklist.AddBlackListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TypefaceTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!--友盟-->

        <!--微信-->
        <activity
            android:name="com.umeng.soexample.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--新浪微博-->
        <activity
            android:name="com.umeng.soexample.weibo.WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--qq精简版-->
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!--这里的scheme是qq分享要用的，100424468为自己申请的appid，真实项目中需要替换-->
                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--分享编辑页-->
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UMDefault" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="561cae6ae0f55abd990035bf"></meta-data>

        <!--融云IM-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.tricolorflower.heartbeat.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/rc_file_path" />
        </provider>

    </application>

</manifest>